<h2 mat-dialog-title class="custom-dialog-title">{{ isEditMode ? 'Edit Field' : 'Add Field' }}</h2>

<mat-dialog-content class="custom-dialog-content">
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Field Name*</mat-label>
    <input matInput [(ngModel)]="fieldName" required />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Field Type</mat-label>
    <mat-select [(ngModel)]="fieldType">
      <mat-option value="text">Text</mat-option>
      <mat-option value="number">Number</mat-option>
      <mat-option value="email">Email</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Field Value</mat-label>
    <input matInput [(ngModel)]="fieldValue" placeholder="Значение поля" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
