<div class="login-container">
  <h1 class="app-title">KontactNick</h1>
  <p class="app-subtitle">Наведи порядок в своих Контактах</p>

  <div class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="login()" class="full-width">Login</button>

    <p class="register-link">
      Нет аккаунта? <a [routerLink]="['/register']">Зарегистрироваться</a>
    </p>

    <hr />

    <button mat-raised-button color="accent" (click)="loginWithGoogle()" class="google-button">
      Войти через Google
    </button>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
</div>
