<div class="form-container">
  <mat-form-field class="full-width">
    <input
      matInput
      type="email"
      name="email"
      placeholder="Email"
      [(ngModel)]="email"
      autocomplete="email"
      required
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <input
      matInput
      type="password"
      name="password"
      placeholder="Password"
      [(ngModel)]="password"
      autocomplete="current-password"
      required
    />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="login()">Login</button>

  <button mat-raised-button color="accent" (click)="loginWithGoogle()">
    Войти через Google
  </button>

  <p>
    Нет аккаунта? <a [routerLink]="['/register']">Зарегистрироваться</a>
  </p>

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>
