<div class="form-container">
  <mat-form-field>
    <input matInput placeholder="Email" [(ngModel)]="email" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password" />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Confirm Password"
      [(ngModel)]="confirmPassword"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="register()">Register</button>
  <button mat-raised-button color="accent" (click)="registerWithGoogle()">
    Регистрация через Google
  </button>
  <p>
    Уже есть аккаунт? <a [routerLink]="['/login']">Войти</a>
  </p>

  <hr />

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>
